body{margin:inherit;
    
    
}

h1 {background:red;
    padding:10px;
    border:black;
}

p {background:blue;
    color:white;
    padding:10px;
    border:black;
}

code {background:white;
    color:black;
    padding:5px;
    border:1px;   
}

h2 {content:inherit;
    border:red;
    margin:10px;  
}

ol { background:black;
    color:white;
}

li {margin:6px;
    
    
    
}